.conteudo{
    background-color: #343434;
    padding: 10%;
    margin: 0rem;
    position: relative;
}

.conteudo h1{
    margin-left: 1rem;
    margin-top:5rem;
    font-size: 2rem;
    color: white;
}

.conteudo-content{
    height: 12rem;
    margin-bottom: 1rem;
    background-color: #71C9B8;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.conteudo-content-text{
    width: 85%;
    color: black;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: justify;
}

.conteudo-image-cover{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0px;
    top:0px;
}

.conteudo-image-cover img{
    height: 100%;
    position: absolute;
    margin: 0 auto;
}