#main{
    padding: 0rem;
    margin: 0rem;
    margin-top: 70px;
    height: 30rem;
    position: relative;
    overflow: hidden;
}

.main-pic{
    height: 100%;
    position: relative;
    left: -120px;
}

.main-desc{
    background-color: #5d5d5d;
    height: 100%;
    width: 100%;
    transform: skew(-10deg);
    position: absolute;
    top: 0px;
    left: 500px;
}

.main-desc-text{
    transform: skew(10deg);
    padding: 5rem 0rem 0rem 6rem;
    color: white;
}

.main-desc-name{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.main-attr-list{
    padding-top: 20px;
}

.main-attr-list li{
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    color: #a0a0a0;
}

.main-attr-list p{
    font-family: 'IBM Plex Mono', monospace;
    display: inline-block;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.main-attr-list img{
    height: 50%;
    margin-left: 10px;
}

@media (max-width: 1200px){

}