.conteudo{
    background-color: #343434;
    color: white;
}

.conteudo hr{
    border-color: #4d4d4d;
}

.turma{
    background-color: orange;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #252525;
}

.card{
    width: 60px;
}

.card p{
    font-size: 13px;
}